h2{
    margin-bottom: 0px;
}

.formEventDate{
    border: 1px solid #ccc;
    margin-bottom: 30px;
    background-color: rgb(247 247 247);
}

.headerFormEventDate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ccc;
    padding: 10px;
}

.bodyFormEventDate{
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}

.formTicketTitle{
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
}

.formTicket{
    border: 1px solid #ccc;
    margin: 20px;
    background-color: rgb(205 205 205);
}

.headerFormTicket{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(170 170 170);
}

.bodyFormTicket{
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0px 10px 0px;
}

.boxTicket{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
}

.DateFormTicket{
    display: flex;
    justify-content: flex-start;
    margin: 20px;
}